// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.car_link {
    text-align: center;
    a {
        color: white; 
        &:hover{
            color: rgb(207, 207, 207);
        }
    }
  }
.card {
    width: 1000px
}

.card-header{
    text-align: center;
}

.card-img-left {
    width: 50%;
}



img{
    width: 100%;
    border-radius: 2px;
}